@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    background:#F7FBFC;
    /* color: #EFF6E0; */
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
h2 {
    font-size: 24px;
    text-align: center;
    margin: 2rem 14px;
    opacity: 70%;

}

.container {
    max-width: 1158px;
    margin: 70px auto;
    height: 100vh;
}
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, auto));
    gap: 18px;
    padding: 0 12px;

}
.project-item {
    background: #F7FBFC;
    min-height: 210px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 2px;
}

.header {
    background: rgb(237, 236, 236, 0.6);
    color: #333;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h4 {
    font-size: 15px;
    opacity: 70%;
}

.box-buttons {
    /* border: 1px solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
}

.box-buttons a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 16px;
    
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-source {
   background-color: #769FCD;
}

.btn-demo {
background-color: #1a4d86;
}

footer {
    margin-top: 70px;
    text-align: center;
    padding: 0 12px;
    font-size: 17px;
    
}



